<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.teamBOB4.dao.ChatMapper">

	<insert id="createChatRoom" parameterType="MessageList">

		insert into
		MessageList
		(
		messangerRoom
		,UserName
		,opponentName
		,HowManyChecks
		,recentMessage
		)
		values
		(
		SEQ_messangerRoom.nextval
		,#{UserName}
		,#{opponentName}
		,1
		,#{recentMessage}
		)


	</insert>
	<select id="getUsersChatRoom" parameterType="String"
		resultType="MessageList">
		select * from MessageList
		where UserName = #{UserName}
		
	</select>
	<select id="getUsersChatRoom2" parameterType="String"
		resultType="MessageList">
		select * from MessageList
		where opponentName = #{UserName}
		
	</select>
	<select id="selectmessangerRoom" parameterType="MessageList"
		resultType="int">
		  (select NVL(max(messangerRoom),0)  from MessageList
	where UserName =#{UserName} and opponentName =  #{opponentName}) 
    
	</select>
		<select id="selectmessangerRoom2" parameterType="MessageList"
		resultType="int">
		  (select NVL(max(messangerRoom),0)  from MessageList
	where UserName =#{UserName} and opponentName =  #{opponentName}) 
    
	</select>
	<select id="selectMesRoom" parameterType="int"
		resultType="MessageList">
				  select *  from MessageList
	where messangerRoom = #{messangerRoom}


	</select>

</mapper>