<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.teamBOB4.dao.MusicMapper">

<select id="getSoundlib" parameterType="int" resultType="Sound">
select distinct sou_type
from sound_library
where cust_number = #{cust_number}
</select>

<select id="getSounds" parameterType="Sound" resultType="Sound">
select *
from sound_library
where cust_number = #{cust_number}
and sou_type = #{sou_type}
<if test="sou_number!=0">
and sou_number = #{sou_number}
</if>
</select>

<select id="getorigin" parameterType="Sound" resultType="Sound">
select *
from sound_library
where sou_number = #{sou_number}
</select>

<select id="searchsound" parameterType="map" resultType="Sound">
select *
from sound_library
where cust_number != #{cust_number}
and sou_name like '%'||#{search}||'%'
</select>

<insert id="insertSound" parameterType="Sound">
insert into sound_library(
sou_number
,cust_number
,sou_type
<if test="sou_name!=null">
,sou_name
</if>
<if test="sou_saved!=null">
,sou_saved
</if>
)
values(
SEQ_SOUND_LIBRARY_SOU_NUMBER.nextval
,#{cust_number}
,#{sou_type}
<if test="sou_name!=null">
,#{sou_name}
</if>
<if test="sou_saved!=null">
,#{sou_saved}
</if>
)
</insert>

<update id="editlib" parameterType="map">
update sound_library
set
sou_type = #{new_type}
where
cust_number = #{Sound.cust_number}
and sou_type = #{Sound.sou_type}
</update>

<delete id="deletelib" parameterType="Sound">
delete from sound_library
where
cust_number = #{cust_number}
and sou_type = #{sou_type}
<if test="sou_number!=0">
and sou_number = #{sou_number}
</if>
</delete>

<insert id="insertkey" parameterType="Keys">
insert into key_sound(
key_number
,cust_number
,key_board
,sou_path
,sou_name
,key_name
)
values(
SEQ_Key_Sound_key_number.nextval
,#{cust_number}
,#{key_board}
,#{sou_path}
,#{sou_name}
,#{key_name}
)
</insert>

<select id="getkeys" parameterType="Keys" resultType="Keys">
select *
from key_sound
where
cust_number = #{cust_number}
and key_board = #{key_board}
</select>

<delete id="delkey" parameterType="Keys">
delete from key_sound
where
key_number = #{key_number}
</delete>

<update id="updatekey" parameterType="Keys">
update key_sound
set
sou_path = #{sou_path}
,sou_name = #{sou_name}
where
key_number = #{key_number}
</update>
</mapper>