<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.teamBOB4.dao.TagMapper">

<insert id="inserttag" parameterType="Tag">
insert into tag
values(
SEQ_TAG_TAG_NUMBER.nextval
,#{tag_name}
)
</insert>

<select id="selectTag" parameterType="Tag" resultType="Tag">
select *
from Tag
where tag_name = #{tag_name}
</select>

<select id="selectTagnameByTagnum" parameterType="int" resultType="String">

select tag_name
from Tag
where tag_number =#{tag_number}


</select>
	
</mapper>