<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.teamBOB4.vo.Customer" alias="Customer"/>
		<typeAlias type="global.sesoc.teamBOB4.vo.Follow" alias="Follow"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/customerMapper.xml" />
	</mappers>
</configuration>
